@import "tailwindcss";

@font-face {
    font-family: lato;
    src: url("../font/Lato-Regular.ttf");
}
@font-face {
    font-family: playfull;
    src: url("../font/Playfull\ Rocket.ttf");
}

*{
    font-family: 'lato', sans-serif;

}

ul > li > a{
    font-family: 'playfull', sans-serif;
}

.playfull{
    font-family: 'playfull' , sans-serif;
}

body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body-dashboard-main{
    background-image: url(../image/homebg.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}