@import "tailwindcss";

@font-face {
    font-family: lato;
    src: url("../font/Lato-Regular.ttf");
}
@font-face {
    font-family: playfull;
    src: url("../font/Playfull\ Rocket.ttf");
}

@font-face {
    font-family: heavitas;
    src: url("../font/Heavitas.ttf");
}

@font-face {
    font-family: designer;
    src: url("../font/Designer.otf");
}

#advertising{
    font-family: 'lato', sans-serif;
}

#contractor {
    font-family: 'heavitas', sans-serif;
}

ul > li > a{
    font-family: 'playfull', sans-serif;
}

.playfull{
    font-family: 'playfull' , sans-serif;
}

body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body-dashboard-main{
    font-family: 'designer', sans-serif;
    background-image: url(../image/homebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}